
<div ng-if= "!listaDispositivosResultante.idDispositivo" class="container" id="#scroll">
    <div class="row col-lg-10 col-lg-offset-2 custyle">
    <img src="resources\img\laboratorio5.png">
    <table class="table table-striped custab">
    <thead>
     <tr>
		<th>ID</th>
		<th>Nombre</th>
		<th>Estado</th>
		<th>Descripci&ograve;n</th>
	</tr>
    </thead>
        <tr ng-repeat="disp in listaDispositivosResultante" >
		<td>{{disp.idDispositivo}}</td>
		<td>{{disp.nombre}}</td>
		<td>{{disp.estadoDispositivo}}</td>
		<td>{{disp.descripcion}}</td>
		</tr>
    </table>
    <button class='btn btn-info' ng-click="backListD()">Regresar</button>
    </div>

</div>


<div ng-if="listaDispositivosResultante.idDispositivo" class="container" id="#scroll">
    <div class="row col-lg-10 col-lg-offset-2 custyle">
    <img src="resources\img\laboratorio5.png">
    <table class="table table-striped custab">
    <thead>
     <tr>
		<th>ID</th>
		<th>Nombre</th>
		<th>Estado</th>
		<th>Descripci&ograve;n</th>
	</tr>
    </thead>
        <tr>
		<td>{{listaDispositivosResultante.idDispositivo}}</td>
		<td>{{listaDispositivosResultante.nombre}}</td>
		<td>{{listaDispositivosResultante.estadoDispositivo}}</td>
		<td>{{listaDispositivosResultante.descripcion}}</td>
		</tr>
    </table>
    <button class='btn btn-info' ng-click="backListD()">Regresar</button>
    </div>

</div>