
<div ng-if= "!listaDispositivosResultante.idDispositivo" class="container" id="#scroll">
    <div class="row col-lg-10 col-lg-offset-2 custyle">
    <img src="resources\img\laboratorio5.png">
    <table class="table table-striped custab">
    <thead>
     <tr>
		<th>ID</th>
		<th>Nombre</th>
		<th>Estado</th>
		<th>Descripci&ograve;n</th>
		<th align="center" colspan="3">Acciones</th>
	</tr>
    </thead>
        <tr ng-repeat="disp in listaDispositivosResultante" >
		<td>{{disp.idDispositivo}}</td>
		<td>{{disp.nombre}}</td>
		<td>{{disp.estadoDispositivo}}</td>
		<td>{{disp.descripcion}}</td>
		<td class="text-center"><a class='btn btn-info btn-xs' ng-click=editarB(disp)><span class="glyphicon glyphicon-edit"></span> Editar</a></td>
        <td class="text-center"><a ng-click="eliminarB(disp)" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Eliminar</a></td>
		</tr>
    </table>
    <button class='btn btn-info' ng-click="backListD()">Regresar</button>
    </div>

</div>


<div ng-if="listaDispositivosResultante.idDispositivo" class="container" id="#scroll">
    <div class="row col-lg-10 col-lg-offset-2 custyle">
    <img src="resources\img\laboratorio5.png">
    <table class="table table-striped custab">
    <thead>
     <tr>
		<th>ID</th>
		<th>Nombre</th>
		<th>Estado</th>
		<th>Descripci&ograve;n</th>
		<th align="center" colspan="3">Acciones</th>
	</tr>
    </thead>
        <tr>
		<td>{{listaDispositivosResultante.idDispositivo}}</td>
		<td>{{listaDispositivosResultante.nombre}}</td>
		<td>{{listaDispositivosResultante.estadoDispositivo}}</td>
		<td>{{listaDispositivosResultante.descripcion}}</td>
		<td class="text-center"><a class='btn btn-info btn-xs' ng-click=editarB(listaDispositivosResultante)><span class="glyphicon glyphicon-edit"></span> Editar</a></td>
        <td class="text-center"><a ng-click="eliminarB(listaDispositivosResultante)" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Eliminar</a></td>
		</tr>
    </table>
    <button class='btn btn-info' ng-click="backListD()">Regresar</button>
    </div>

</div>