<div ng-if= "!listaDispositivosResultante.idDispositivo" class="container" id="#scroll">
    <div class="row col-lg-10 col-lg-offset-2 custyle">
    <img src="resources\img\usuarios.png">
    <table class="table table-striped custab">
    <thead>
     <tr>
		<th>Documento</th>
		<th>Tipo de documento</th>
		<th>Nombre</th>
		<th>Apellido</th>
		<th>Telefono</th>
		<th>Emai</th>
		<th>Login</th>
		<th>Días de sanción</th>
		<th>Estado Usuario</th>
		<th>Rol</th>
	</tr>
    </thead>
        <tr>
		<td>{{listaUsuariosResultante.identificacion}}</td>
		<td>{{listaUsuariosResultante.tipoDocumento}}</td>
		<td>{{listaUsuariosResultante.nombre}}</td>
		<td>{{listaUsuariosResultante.apellido}}</td>
		<td>{{listaUsuariosResultante.telefono}}</td>
		<td>{{listaUsuariosResultante.email}}</td>
		<td>{{listaUsuariosResultante.login}}</td>
		<td>{{listaUsuariosResultante.diasSanciones}}</td>
		<td>{{listaUsuariosResultante.estadoUsuario}}</td>
		<td>{{listaUsuariosResultante.rol}}</td>
		</tr>
    </table>
    <button class='btn btn-info' ng-click="backListD()">Regresar</button>
    </div>

</div>


<div ng-if="listaDispositivosResultante.idDispositivo" class="container" id="#scroll">
    <div class="row col-lg-10 col-lg-offset-2 custyle">
    <img src="resources\img\laboratorio5.png">
    <table class="table table-striped custab">
    <thead>
     <tr>
		<th>ID</th>
		<th>Nombre</th>
		<th>Estado</th>
		<th>Descripci&ograve;n</th>
	</tr>
    </thead>
        <tr>
		<td>{{listaDispositivosResultante.idDispositivo}}</td>
		<td>{{listaDispositivosResultante.nombre}}</td>
		<td>{{listaDispositivosResultante.estadoDispositivo}}</td>
		<td>{{listaDispositivosResultante.descripcion}}</td>
		</tr>
    </table>
    <button class='btn btn-info' ng-click="backListD()">Regresar</button>
    </div>

</div>