<div class="container" id="#scroll">
    <div class="row col-lg-10 col-lg-offset-2 custyle">
    <img src="resources\img\usuarios.png">
    <table class="table table-striped custab">
    <thead>
     <tr>
		<th>Documento</th>
		<th>Tipo de documento</th>
		<th>Nombre</th>
		<th>Apellido</th>
		<th>Telefono</th>
		<th>Emai</th>
		<th>Login</th>
		<th>Días de sanci&oacute;n</th>
		<th>Estado Usuario</th>
		<th>Rol</th>
		<th align="center" colspan="3">Acciones</th>
	</tr>
    </thead>
        <tr>
		<td>{{listaUsuariosResultante.identificacion}}</td>
		<td>{{listaUsuariosResultante.tipoDocumento}}</td>
		<td>{{listaUsuariosResultante.nombre}}</td>
		<td>{{listaUsuariosResultante.apellido}}</td>
		<td>{{listaUsuariosResultante.telefono}}</td>
		<td>{{listaUsuariosResultante.email}}</td>
		<td>{{listaUsuariosResultante.login}}</td>
		<td>{{listaUsuariosResultante.diasSanciones}}</td>
		<td>{{listaUsuariosResultante.estadoUsuario}}</td>
		<td>{{listaUsuariosResultante.rol}}</td>
		<td class="text-center"><a class='btn btn-info btn-xs' ng-click=editarB(listaUsuariosResultante)><span class="glyphicon glyphicon-edit"></span> Editar</a></td>
        <td class="text-center"><a ng-click="eliminarB(listaUsuariosResultante)" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Eliminar</a></td>
		</tr>
    </table>
    <button class='btn btn-info' ng-click="backListU()">Regresar</button>
    </div>

</div>
