<div>
	<form ng-submit="modificar(dispositivoModificar)">
		<div>
			<label for="nombre">Id*:</label>
			<input type="text" 
				   required id="idDispositivo"
				   ng-model="dispositivoModificar.idDispositivo"
				   value="{{dispositivoModificar.idDispositivo}}"
				   readonly="readonly"/>
		</div>
		<div>
			<label for="nombre">Nombre*:</label>
			<input type="text" 
				   
				   required id="nombre"
				   ng-model="dispositivoModificar.nombre"
				   value="{{dispositivoModificar.nombre}}"/>
		</div>
		<div>
			<label for="estado">Estado*:</label>
			<select name="nombre" size="1" ng-model="dispositivoModificar.estadoDispositivo">
				<option value="1">Disponible</option>
				<option value="2">Ocupado</option>
				<option value="3">Dado de baja</option>
			</select>
			
		</div>
		<div>
			<label for="descripción">Descripción*:</label>
			<input type="text" 
				   placeholder="Descripción"
				   required id="descripción"
				   ng-model="dispositivoModificar.descripcion"
				   value="{{dispositivoModificar.descripcion}}"/>
		</div>
		
		<button type="submit">Enviar modificación</button>
	</form>
</div>