<div>
	<form ng-submit="guardar()">
		<div>
			<label for="nombre">Nombre*:</label>
			<input type="text" 
				   placeholder="ID del dispositivo"
				   required id="idDispositivo"
				   ng-model="dispositivo.nombre"/>
		</div>
		
		<div>
			<label for="nombre">Estado*:</label>
			<input type="text" 
				   placeholder="ID del dispositivo"
				   required id="idDispositivo"
				   ng-model="dispositivo.estadoDispositivo"/>
		</div>
		
		<div>
			<label for="nombre">Descripcion*:</label>
			<input type="text" 
				   placeholder="ID del dispositivo"
				   required id="idDispositivo"
				   ng-model="dispositivo.descripcion"/>
		</div>
		
		<button type="submit">Save</button>
		<button  ng-click="backListD()">Regresar</button>
	</form>
</div>