<div>
	<table border="1" width="100%">
	<tr>
		<th>ID Dispositivo</th>
		<th>Nombre</th>
		<th>Estado</th>
		<th>Descripción</th>
		<th>Acciones</th>
	</tr>
	
	<tr ng-repeat="dispositivo in listaDispositivos">
		<td>{{dispositivo.idDispositivo}}</td>
		<td>{{dispositivo.nombre}}</td>
		<td>{{dispositivo.estadoDispositivo}}</td>
		<td>{{dispositivo.descripcion}}</td>
		<td><button data-id={{dispositivo.idDispositivo}}>Editar</button>
		<button data-id={{dispositivo.idDispositivo}} ng-click="eliminar(dispositivo)">Eliminar</button></td>

	</tr>
	</table>
	<div> 
	</div>
</div>