<div>
	<form ng-submit="buscarReserva(nombre)">
		<div>
			<label for="nombreReserva">Id Reserva:</label>
			<input type="text" 
				   placeholder="Nombre de reserva"
				   required id="NombreReserva"
				   ng-model="nombre"/>
		</div>
		<button type="submit">Buscar</button>
	</form>
</div>
<div>
	<table border="1" width="100%">
	<tr>
		<th>ID Reserva</th>
		<th>Estado</th>
		<th>Fecha Realización</th>
		<th>Hora Inicio</th>
		<th>Hora Final</th>
		<th>Hora Realizado</th>
		<th>Fecha Realizado</th>
		<th>Fecha Reserva</th>
		<th>Usuario</th>
		<th>Fecha Entrega</th>
		<th>Hora Entrega</th>
		<th>Acción</th>
	</tr>
	
	<tr ng-repeat="reserva in listaReservas">
		<td>{{reserva.idReserva}}</td>
		<td>{{reserva.estadoReserva}}</td>
		<td>{{reserva.fechaRealizacion}}</td>
		<td>{{reserva.horaInicio}}</td>
		<td>{{reserva.horaFinal}}</td>
		<td>{{reserva.horaRealizado}}</td>
		<td>{{reserva.fechaRealizado}}</td>
		<td>{{reserva.fechaReserva}}</td>
		<td>{{reserva.usuario}}</td>
		<td>{{reserva.fechaEntrega}}</td>
		<td>{{reserva.horaEntrega}}</td>
		<td><button  ng-click="editar(reserva)" >Editar</button>
		<button  ng-click="eliminar(reserva)">Cancelar</button></td>

	</tr>
	</table>
	
	<button  ng-click="save()">Nuevo</button>
	<button  ng-click="back()">Regresar</button>

</div>