<div class="menu" style="width:100%;>
	    <div class="container-fluid">
			<div class="navbar-header">
				 <img src="resources/img/Logo.png" >
			</div>
			  <ul class="nav navbar-nav">
			      <li><a class="active" ng-click="home()">Inicio</a></li>
			      <li><a ng-click="listarDispositivosUsuario()">Dispositivos</a></li>
			       <li><a ng-click="listarReservasUsuario()">Reservas</a></li>
		
			       
			  </ul>
			 <div>
				<ul class="nav navbar-nav navbar-right">
				
					<li><a><span class="glyphicon glyphicon-user"></span> {{nombreUsuario}}</a></li>
					<li><a ng-click="logout()"><span class="glyphicon glyphicon-log-in"></span> Log Out</a></li>
				</ul>
			</div>
		</div>


<div class="row">
    <div class="row col-sm-8 col-sm-offset-2 custyle">
    <img src="resources\img\laboratorio5.png">
    	<form ng-submit="buscardispositivo(nombre)">
		<div>
			<label for="nombreDispositivo">Nombre:</label>
			<input type="text" 
				   placeholder="Nombre de dispositivo"
				   required id="NombreDispositivo"
				   ng-model="nombre"/>
				   <button class="btn btn-info btn-sm" type="submit">Buscar</button>
		</div>
	</form>
    <table class="table table-striped custab">
    <thead>
     <tr>
		<th>ID</th>
		<th>Nombre</th>
		<th>Estado</th>
		<th>Descripci&ograve;n</th>
	</tr>
    </thead>
            <tr ng-repeat="dispositivo in listaDispositivos">
                <td>{{dispositivo.idDispositivo}}</td>
				<td>{{dispositivo.nombre}}</td>
				<td>{{dispositivo.estadoDispositivo}}</td>
				<td>{{dispositivo.descripcion}}</td>
            </tr>
      
    </table>
    <button class='btn btn-info' ng-click="backD()">Regresar</button>
    </div>
</div>


